body {
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  display: inline-block;
  background: -webkit-linear-gradient(#00ccff, #ac97ea, #d400d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin-left: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}
p {
  font-family: "Montserrat", sans-serif;
}
.bordered-text {
  text-align: center;
  background-color: #282323;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 5px black;
  margin-left: 530px;
}
.project-title {
  margin-left: 565px;
  font-size: 50px;
}
.btn {
  margin-left: -250px !important;
  margin-top: 250px !important;
  margin-bottom: 50px !important;
}
.logo {
  border-radius: 500px;
  max-width: 200px;
  display: inline-block;
  margin: 0 auto;
  margin-top: -80px;
  margin-left: 50px;
}
img {
  margin-left: 620px;
  margin-top: 20px;
  max-width: 250px;
}
.container {
  white-space: nowrap;
}
.about-title {
  font-size: 50px;
  margin-left: 650px;
}
.contact-title {
  font-size: 60px;
  margin-left: 590px;
}
.hobbies-title {
  font-size: 50px;
  margin-left: 665px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: -160px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fb-logo {
  max-width: 50px;
  margin-left: 200px !important;
  margin-top: -5px;
}
.insta-logo {
  max-width: 60px;
  margin-left: 620px !important;
  margin-top: -5px;
  margin-right: -20px;
}
.git-logo {
  max-width: 90px;
  margin-top: -5px;
  margin-left: -230px;
}
.linked-logo {
  max-width: 50px;
  margin-left: 5px;
  margin-top: -5px;
}
.row::after {
  content: "";
  clear: both;
}
.images {
  margin-left: -290px;
}
.profilepic {
  max-width: 100% !important;
}
.btn-projects {
  color: white;
  box-shadow: 5px 5px 5px black;
  border-color: black;
  border-radius: 20px;
  margin-top: 50px;
  max-width: 700px;
  margin-left: 700px;
  font-family: "Montserrat", sans-serif;
}
.view-projects img {
  max-width: 500px;
  margin-left: 520px;
}
@media screen and (max-width: 500px) {
  .about-title {
    margin-left: 55px;
  }
  .hobbies-title {
    margin-left: 75px;
  }
  .project-title {
    margin-left: 15px;
    font-size: 40px;
  }
  p {
    margin-left: 35px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 2;
    max-width: 300px;
  }
  .bordered-text {
    margin-left: 35px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 2;
    max-width: 300px;
  }
  .profilepic {
    margin-left: 35px;
  }
  .btn-projects {
    margin-left: 100px;
  }
  .column {
    width: 100%;
    align-items: center;
    margin-left: -300px;
  }
  .dog {
    margin-left: 630px;
  }
  .poem {
    margin-left: 630px;
  }
  .guitar {
    margin-left: 630px;
  }
  .passion-app {
    margin-left: 25px !important;
    max-width: 300px !important;
  }
  .weather-app {
    margin-left: 25px !important;
    max-width: 300px !important;
  }
  .passion-app {
    margin-left: 25px !important;
    max-width: 300px !important;
  }
}
