body {
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  display: inline-block;
  background: -webkit-linear-gradient(#00ccff, #ac97ea, #d400d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin-left: 650px;
  margin-top: 90px;
  margin-bottom: 50px;
}
p {
  font-family: "Montserrat", sans-serif;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
}
.bordered-text {
  text-align: center;
  background-color: #282323;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 5px black;
  margin-left: 510px;
  padding: 15px;
}
.bordered-text-contact {
  text-align: center;
  background-color: #282323;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 5px black;
  margin-left: 510px;
  padding: 15px;
}
.project-title {
  margin-left: 610px;
  font-size: 70px;
}
.btn {
  margin-left: 700px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.logo {
  border-radius: 500px;
  max-width: 200px;
  display: inline-block;
  margin: 0 auto;
  margin-top: -80px;
  margin-left: 50px;
}
.contact-icons {
  text-align: center;
  background-color: #282323;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 5px black;
  margin-left: 510px;
}
.logo-contact {
  border-radius: 500px;
  max-width: 250px;
  display: inline-block;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: -5px;
  box-shadow: 5px 5px 5px black;
}
img {
  margin-left: 620px;
  margin-top: 20px;
  max-width: 250px;
}
.container {
  white-space: nowrap;
}
.about-title {
  font-size: 70px;
  margin-left: 650px;
}
.resume-title {
  font-size: 70px;
  margin-left: 630px;
}
.contact-title {
  font-size: 70px;
  margin-left: 610px;
}
.hobbies-title {
  font-size: 60px;
  margin-left: 630px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.new-hope-title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 40px;
  margin-left: -320px;
}
.new-hope-text {
  color: #fff;
  text-align: left;
  background-color: #282323;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
  align-items: center;
  padding: 10px;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 5px black;
  margin-left: 200px;
  margin-top: 10px;
}
.nhcc-logo {
  margin-bottom: 20px;
}
.nhcc-button {
  margin-left: 75px;
  margin-top: -100px;
}
.fb-logo-nhcc {
  max-width: 30px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: -40px;
}
.insta-logo-nhcc {
  max-width: 35px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: -40px;
}
.class-pic {
  border-radius: 50px;
}
.malawi-text {
  color: #fff;
  text-align: left;
  background-color: #282323;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
  align-items: center;
  padding: 10px;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 5px black;
  margin-left: 200px;
  margin-top: 10px;
}
.ics-title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 40px;
  margin-left: -250px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.ics-logo {
  max-width: 180px;
  margin-top: -20px;
}
.ics-button {
  margin-left: 120px;
  margin-top: -90px;
}
.col-sm-3 {
  margin-top: -500px;
  margin-left: 120px;
}
.col-sm-4 {
  margin-left: 390px;
  margin-top: -500px;
}
.col-sm-3-malawi {
  margin-left: 120px;
  margin-top: -510px;
}
.col-sm-4-malawi {
  margin-left: 390px;
  margin-top: -510px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: -160px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fb-logo {
  max-width: 50px;
  margin-left: 200px !important;
  margin-top: -5px;
}
.insta-logo {
  max-width: 60px;
  margin-left: -70px !important;
  margin-top: 10px;
  margin-right: -20px;
  margin-bottom: 10px;
}
.git-logo {
  max-width: 90px;
  margin-top: -5px;
  margin-left: -230px;
}
.linked-logo {
  max-width: 50px;
  margin-left: 5px;
  margin-top: -5px;
}
.row::after {
  content: "";
  clear: both;
}
.images {
  margin-left: -290px;
}
.profilepic {
  max-width: 300px;
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 500px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.btn-projects {
  color: white;
  box-shadow: 5px 5px 5px black;
  border-color: black;
  border-radius: 20px;
  margin-top: 50px;
  max-width: 700px;
  margin-left: 655px;
  font-family: "Montserrat", sans-serif;
}
.btn-projects-contact {
  color: white;
  box-shadow: 5px 5px 5px black;
  border-color: black;
  border-radius: 20px;
  margin-top: 50px;
  max-width: 700px;
  margin-left: -10px;
  font-family: "Montserrat", sans-serif;
}

.btn-projects-resume {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  box-shadow: 5px 5px 5px black;
  border-color: black;
  border-radius: 20px;
  margin-top: 35px;
  padding: 15px;
  margin-left: 10px;
}
.resume-text {
  margin-left: 350px;
}
.col-sm-2-resume {
  margin-top: -40px;
  margin-bottom: -70px;
}
.view-projects img {
  max-width: 500px;
  margin-left: 500px;
}
.weather-app {
  margin-left: 10px;
}
.icon {
  display: inline-block;
  font-size: 30px;
  animation: float 3s ease-in-out infinite;
}
.icons-wrapper {
  margin-left: -5px;
  margin-top: -5px;
}
.github-animate {
  margin-left: 240px !important;
  margin-top: -50px !important;
}
.instagram-animate {
  margin-left: 500px !important;
  margin-bottom: -30px !important;
}
.github-animate-about {
  margin-left: 240px !important;
  margin-top: -50px !important;
}
.instagram-animate-about {
  margin-left: 500px !important;
  margin-bottom: -30px !important;
}
.ri-instagram-line {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ri-github-fill {
  color: white;
  animation-delay: 2s;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.copyright {
  color: #fff;
  font-size: 12px;
  margin-left: 280px;
}
.html-logo {
  margin-left: 10px !important;

  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .about-title {
    margin-left: 60px;
  }
  .hobbies-title {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .project-title {
    margin-left: 45px;
    font-size: 60px;
  }
  .contact-title {
    margin-left: 30px;
    font-size: 70px;
  }
  .btn-projects-contact {
    margin-left: -1px;
    margin-bottom: 20px;
  }
  .logo-contact {
    margin-left: 7px;
  }
  .bordered-text-contact {
    margin-left: 5px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 2;
    max-width: 365px;
  }
  .contact-icons {
    margin-left: 5px;
    margin-top: 20px;
    max-width: 365px;
  }
  p {
    margin-left: 35px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 2;
    max-width: 300px;
    margin-bottom: -20px !important;
  }
  .bordered-text {
    margin-left: 5px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    line-height: 2;
    max-width: 350px;
  }
  .profilepic {
    margin-left: 35px;
    margin-top: -40px;
    margin-bottom: 10px;
  }
  .btn-projects {
    margin-left: 100px !important;
    margin-top: 50px !important;
  }
  .column {
    width: 100%;
    align-items: center;
    margin-left: -300px;
  }
  .dog {
    margin-left: 630px;
  }
  .poem {
    margin-left: 630px;
  }
  .guitar {
    margin-left: 630px;
  }
  .passion-app {
    margin-left: 10px !important;
    max-width: 300px !important;
  }
  .weather-app {
    margin-left: 15px !important;
    max-width: 300px !important;
  }
  .dictionary-app {
    margin-left: 10px !important;
    max-width: 300px !important;
  }
  .instagram-animate {
    margin-left: 8px !important;
    margin-right: 50px !important;
  }
  .instagram-animate-about {
    margin-left: 8px !important;
    margin-right: 50px !important;
  }
  .copyright {
    margin-left: 30px;
  }
  .resume-title {
    margin-left: 50px;
    font-size: 60px;
  }
  .col-sm-2-resume {
    margin-left: -250px !important;
    display: flex !important;
  }
  .new-hope-title {
    font-size: 12px;
    display: flex !important;
    margin-left: -580px;
    margin-top: 20px;
  }
  .nhcc-logo {
    max-width: 70px;
  }
  .nhcc-title-text {
    margin-top: 50px;
  }
  .new-hope-text {
    font-size: 12px;
    margin-left: 0px;
    max-width: 340px;
    margin-top: -15px;
  }
  .fb-logo-nhcc {
    margin-left: -30px;
    margin-top: -120px;
  }
  .insta-logo-nhcc {
    margin-top: -120px;
  }
  .nhcc-button {
    margin-left: -15px;
    margin-top: -1000px;
  }
  .ics-title {
    font-size: 12px;
    margin-left: -560px;
    margin-top: 500px;
  }
  .ics-logo {
    max-width: 80px;
  }
  .malawi-text {
    margin-top: -20px;
    font-size: 12px;
    margin-left: 0px;
    max-width: 340px;
  }
  .ics-button {
    margin-left: -10px;
    margin-top: -1045px;
    margin-bottom: 950px;
  }
  .copyright-about {
    margin-left: 30px;
  }
  .col-sm-3 {
    margin-left: -570px;
    margin-top: 80px;
  }
  .col-sm-4 {
    margin-left: -570px;
    margin-top: 10px;
  }
  .col-sm-3-malawi {
    margin-left: -570px;
    margin-top: 70px;
  }
  .col-sm-4-malawi {
    margin-left: -570px;
    margin-top: 10px;
  }
}
