body {
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  display: inline-block;
  background: -webkit-linear-gradient(#00ccff, #ac97ea, #d400d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
}
.logo1 {
  margin-top: -550px !important;
}
.view-projects img {
  max-width: 500px;
  margin-left: -450px;
}
.heading {
  margin-top: -30px;
  font-family: "Montserrat", sans-serif;
}
.icon {
  display: inline-block;
  font-size: 30px;
  animation: float 3s ease-in-out infinite;
  margin-top: 600px;
  margin-left: -200px;
}
.icons-wrapper {
  margin-top: -280px !important;
  margin-left: -5px;
  margin-bottom: -50px;
}
.github {
  margin-left: -100px !important;
}
.instagram {
  margin-right: 120px !important;
}

.ri-instagram-line {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ri-github-fill {
  color: white;
  animation-delay: 2s;
}
.box {
  position: relative;
  width: 285px;
  height: 285px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: " ";
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.box:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.box:hover::after {
  content: " ";
  position: absolute;
  inset: 6px;
  background: #1b1b1b;
  border-radius: 50%;
  z-index: 1;
}
.col-12 {
  margin-left: -300px !important;
}
.col-3 {
  margin-top: 150px;
  margin-left: -25px;
}
.content {
  position: absolute;
  inset: 30px;
  border: 6px solid #1b1b1b;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}
.col-5 {
  margin-left: 150px;
}
.box:hover .content img {
  opacity: 0;
}

.content h2 {
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
}

.content h2 span {
  font-weight: 300;
  font-size: 15px;
}
.content a {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-weight: 501;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.content a:hover {
  letter-spacing: 0.2em;
}

.hero {
  margin-left: -50px;
  margin-top: -400px;
  vertical-align: top;
  display: inline-block;
}
.float-sm-start {
  justify-content: flex;
  margin-left: -400px;
}
p {
  color: white;
  margin-top: 150px;
  display: inline-block;
  padding: 25px;
}
.mt-1 {
  font-size: 20px;
  margin-left: -25px !important;
  margin-top: -45px !important;
}
h3 {
  color: white;
}
.btn-projects {
  color: white;
  box-shadow: 5px 5px 5px black;
  border-color: black;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
  margin-left: -310px;
  padding-left: 20px;
  padding-right: 20px;
}
.copyright {
  color: #fff;
  font-size: 12px;
  margin-left: -430px;
  margin-top: 210px;
  margin-bottom: -700px !important;
}

@media screen and (max-width: 500px) {
  .col-12 {
    margin-left: -45px !important;
    margin-bottom: 80px !important;
    margin-top: 450px;
  }
  .btn-projects {
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
  }
  .name {
    margin-left: -70px !important;
    margin-top: -100px !important;
    margin-bottom: 40px !important;
  }
  h4 {
    margin-left: -50px !important;
    margin-top: -30px !important;
    margin-bottom: 40px !important;
  }
  .mt-1 {
    margin-left: -70px !important;
  }
  .hero {
    margin-left: 650px !important;
    margin-bottom: 80px;
    margin-top: -600px !important;
  }
  .col-3 {
    margin-left: -80px !important;
    margin-top: -300px;
  }
  .col-12 a {
    margin-left: -410px !important;
    margin-right: -300px !important;
  }
  .view-projects img {
    margin-right: -100px;
    max-width: 290px;
    display: flex;
  }
  .passion-app img {
    margin-left: -200px !important;
  }
  .weather-app img {
    margin-left: -315px !important;
  }
  .dictionary-app img {
    margin-left: -315px !important;
    margin-bottom: 60px !important;
  }
  .instagram {
    margin-left: -90px !important;
    margin-right: 180px !important;
  }
  .github {
    margin-left: -45px !important;
    margin-right: 50px !important;
  }
  .col-1 {
    text-align: center;
  }
}
